{% extends 'base.html.twig' %}

{% block body %}

    <!-- Homepage main content -->
    <section id="homepage-content">
        <!-- Top row -->
        <div class="homepage-row">
            <!-- Top right column -->
            {#<div class="homepage-column horizontal-center">#}
            {#</div>#}
            <!-- Top left column -->
            <div class="homepage-subrow">
                <!-- Biography -->
                <h2>\ Bio</h2>
                <!-- Bertrand picture -->
                {% if infos.bioImage.media is null %}
                    <img id="homepage-fronpic"
                     src="/img/infos/bertrand-malfray.jpg"
                     alt="Photo de Bertrand Malfray">
                {% else %}
                    <img id="homepage-fronpic"
                         src="{% path infos.bioImage.media, 'reference' %}"
                         alt="Photo de Bertrand Malfray">
                {% endif %}

                <!-- Biography -->
                {{ infos.content|raw }}
                <!-- CV links -->
                <div id="cv-links">
                    {% if infos.ldCv.media is not null %}
                    <p>
                        <a target="_blank" href="{% path infos.gdCv.media, 'reference' %}">
                            <img src="/img/picto/pdf.png" alt="Document pictogram"><br/>
                            CV Game <br class="mobile-only"/> Design
                        </a>
                    </p>
                    {% endif %}
                    {% if infos.gdCv.media is not null %}
                    <p>
                        <a target="_blank" href="{% path infos.ldCv.media, 'reference' %}">
                            <img src="/img/picto/pdf.png" alt="Document pictogram"><br/>
                            CV Level <br class="mobile-only"/> Design
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Bottom row -->
        <div class="homepage-row" id="contact-form-link">
            <!-- Bottom left column -->
            <div class="homepage-column">
                <!-- Work informations -->
                <h2>\ Informations</h2>
                <ul>
                    <li>
                        <img src="/img/picto/location.png" alt="School hat pictogram">
                        {{ infos.city }}
                    </li>
                    <li>
                        <img src="/img/picto/phone.png" alt="Phone pictogram">
                        {{ infos.phoneNumber }}
                    </li>
                </ul>
            </div>
            <!-- Bottom right column -->
            <div class="homepage-column">
                <!-- Contact form -->
                <h2>\ Contact</h2>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}