<section id="desktop-header">
    <!-- Top Row -->
    <div id="header-top-row">
        <!-- Links to Home and Contact -->
        <div id="header-site-links">
            <a href="/" title ="Accueil"><img src="/img/picto/home.png" alt="Home pictogram"></a>
            <a href="/#contact-form-link">Contact</a>
        </div>
        <!-- Link to LinkedIn -->
        <div id="linkedin-block">
            <a href="https://www.linkedin.com/in/bertrand-malfray-305a71138/"
               title="B. Malfray LinkedIn"
               target="_blank">
                <img src="/img/picto/linkedin.png" alt="LinkedIn Logo">
            </a>
        </div>
    </div>

    <!-- Decorate Row -->
    <div id="top-decoration" class="header-row">
        <div class="h-bg-right align-left"></div>
        <div class="h-slash-right align-left"></div>
        <div class="h-bg-left align-right"></div>
        <div class="h-slash-left align-right"></div>
    </div>

    <!-- Text Row -->
    <div id="text-row">
        <p><a href="/" title ="Accueil">Bertrand Malfray</a></p>
        <p>Game/Level Designer</p>
    </div>

    <!-- Bottom decorate row -->
    <div id="header-bottom-decoration" class="header-row">
        <!-- Header bottom left column -->
        <!-- Decoration -->
        <div class="align-left decorate"></div>
        <!-- BG -->
        <div class="h-bg-right align-left"></div>
        <!-- Slash block -->
        <div class="h-slash-left align-left"></div>

        <!-- Header bottom row right column -->
        <!-- Decoration -->
        <div class="align-right decorate"></div>
        <!-- BG -->
        <div class="h-bg-left align-right"></div>
        <!-- Slash block -->
        <div class="h-slash-right align-right"></div>
    </div>
    <!-- Logo -->
    <div id="fill-header-bottom-decoration">
        <a href="/">
            <img src="/img/infos/bertrand-malfray-crop.png" alt="Photo de Bertrand Malfray">
        </a>
    </div>

    <!-- Projects links -->
    <div id="project-links">
        <div class="project-link">
            <a href="/projects/level-design" class="align-left">
                <span>
                    Projets Level Design
                </span>
            </a>
            <div class="h-slash-right align-left"></div>
        </div>
        <div class="project-link">
            <a href="/projects/game-design" class="align-right">
                <span>
                    Projets Game Design
                </span>
            </a>
            <div class="h-slash-left align-right"></div>
        </div>
    </div>

    <div id="project-drop-down">
        <ul id="ld-dropdown" class="project-menu align-left">
            <li><a href="#">Sous-item 1</a></li>
            <li><a href="#">Sous-item 2</a></li>
            <li><a href="#">Sous-item 3</a></li>
        </ul>
        <ul id="gd-dropdown" class="project-menu align-right">
            <li><a href="#">Sous-item 1</a></li>
            <li><a href="#">Sous-item 2</a></li>
            <li><a href="#">Sous-item 3</a></li>
        </ul>
    </div>
</section>