<div id="topheader-mobile" class="mobile-header">
    <img src="/img/menu.png" alt="Hamburger menu pictogram">
    <span><a href="/">B. Malfray</a></span>
</div>
<navbar class="mobile-header">
    <div class="navbar-block">
        <a href="/">Accueil</a>
    </div>
    <div class="navbar-block">
        <a href="/projects/level-design">Projets Level Design</a>
    </div>
    <div class="navbar-block">
        <a href="/projects/game-design">Projets Game Design</a>
    </div>
    <div class="navbar-block">
        <a href="/#contact-form-link">Contact</a>
    </div>
</navbar>