<section id="desktop-header">
    <!-- Top Row -->
    <div id="header-top-row">
        <!-- Links to Home and Contact -->
        <div id="header-site-links">
            <a href="/"><img src="/img/picto/home.png" alt="Home pictogram"></a>
            <a href="/#contact-form-link">Contact</a>
        </div>
        <!-- Link to LinkedIn -->
        <div id="linkedin-block">
            <a href="https://www.linkedin.com/in/bertrand-malfray-305a71138/"
               title="B. Malfray LinkedIn profile"
               target="_blank">
                <img src="/img/picto/linkedin.png" alt="LinkedIn Logo">
            </a>
        </div>
    </div>

    <!-- Decorate Row -->
    <div id="top-decoration" class="header-row">
        <div class="h-bg-right align-left"></div>
        <div class="h-slash-right align-left"></div>
        <div class="h-bg-left align-right"></div>
        <div class="h-slash-left align-right"></div>
    </div>

    <!-- Text Row -->
    <div id="text-row">
        <p>Bertrand Malfray</p>
        <p>Game/Level Designer</p>
    </div>
</section>