{% extends 'base.html.twig' %}

{% block body %}

    <h1>Erreur {{ status_code }}</h1>
    <p>
        <a class="error-button" href="/">Retour à l'accueil</a>
    </p>

{% endblock %}

{% block javascripts %}
    <script>
        $("h1").css('text-align', 'center');
        $('footer').hide();
    </script>
{% endblock %}